* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

button {
  background-color: #f7146b;
  padding: 0.8em;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: 65px;
  width: 65px;
  font-weight: bold;
}

button:hover {
  background-color: rgb(192, 75, 94);
}

.header {
  background-color: #f7146b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 1rem;
}

.header>a {
  text-decoration: none;
  color: inherit;
}

#countryForm {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #e1e1e1;
  border-radius: 4px;
  padding: 1rem;
  background-color: #f1f1f1;
  flex-wrap: wrap;
  width: 100%;
}

#formContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.formField>input {
  padding: 0.8em 0.2em;
  border: 3px solid #e1e1e1;
  border-radius: 4px;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

#countriesSection {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.countryField {
  border: 2px solid #e1e1e1;
  padding: 1rem;
  border-radius: 5px;
  width: 95px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#countriesSection>a {
  text-decoration: none;
  color: inherit;
}

.emoji {
  font-size: 10rem;
}

#countryPage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

@media (min-width: 768px) {
  #formContainer {
    gap: 1rem;
    justify-content: space-evenly;
  }

  main {
    margin: 2rem 10rem;
  }
}